{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
<table class="demo">
	<caption>Data Sources</caption>
	<tbody>
	<tr>
        <td><a href="#">California pending home sales index</a></td>
		<td><a href="#">Euro Area CPI</a></td>
		<td><a href="#">UK CPI</a></td>
	</tr>
	<tr>
		<td><a href="#">Corelogic Home Price Index (SFA)</a></td>
		<td><a href="#">Euro Area GDP</a></td>
		<td><a href="#">UK GDP</a></td>
	</tr>
	<tr>
		<td><a href="#">CoreLogic Home Prince Index (SFCDX)</a></td>
		<td><a href="#">Japan CPI</a></td>
		<td><a href="#">Unadjusted</a></td>
	</tr>
	<tr>
		<td><a href="#">Corelogic Home Price Index (SFD)</a></td>
		<td><a href="#">Japan GDP</a></td>
		<td><a href="http://localhost:5000/logistic-regression-titanic">Test data</a></td>
	</tr>
	</tbody>
</table>
            </div>
        </div>
    </div>
</div>
{% endblock %}